header {
  text-align: center;
  border-style: solid;
  border-width: medium;
  border-left-width: 400px;
  border-right-width: 400px;
  border-bottom-style: hidden;
}

body {
  margin: 0px;
  background-color: rgb(117, 117, 131);
  color: rgb(0, 0, 0);
}
.container {
  display: flex;
  flex-direction: column;
}
h4 {
  color: black;
}
.Fisk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Fiskreklam {
  order: 3;
}
.Links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a {
  font-size: large;
  color: black;
  font-style: oblique;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}
