header {
  background-color: blue;
  padding: 35px;
  color: rgb(211, 192, 192);
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
body {
  margin: 0px;
}
.container {
  display: flex;
  flex-direction: column;
}
h4 {
  color: black;
}
.Maincontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Fiskreklam {
  order: 3;
}
.Links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
a {
  font-size: large;
  font-style: normal;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(211, 192, 192);
}
.Partner {
  color: blue;
  font-style: normal;
  font-size: normal;
}
