header {
  text-align: center;
  border-style: solid;
  border-width: medium;
  border-left-width: 400px;
  border-right-width: 400px;
  border-bottom-style: hidden;
}

body {
  margin: 0px;
  background-color: rgb(20, 20, 22);
  color: rgb(114, 113, 113);
}
.container {
  display: flex;
  flex-direction: column;
}
h4 {
  color: 130, 130, 130;
}
.body {
  display: flex;
  flex-direction: column;
}
